.header {
  grid-area: h;
  background-color: grey;

  
}

.header img {
  width: 60px;

}

.loginBlock {
  float: right;
  padding: 5px 50px;
}
.loginBlock a {
  color: white;
  text-decoration: none;

}

.loginBlock a.itemActive {
  color: limegreen;
}

.loginName{
  font-family: Arial;
  font-size: 20px;

}